ComplexWPF/WpfApp2/Connected Services/ComplexCalculatorService/ComplexCalculatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://Microsoft.ServiceModel.Samples" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ComplexCalculatorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ComplexServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://Microsoft.ServiceModel.Samples" location="http://localhost:65434/?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ComplexServices" type="i0:ComplexServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTwoValue">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/AddTwoValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailsFault">
        <soap:fault use="literal" name="CustomExceptionDetailsFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DivideByZeroFaultFault">
        <soap:fault use="literal" name="DivideByZeroFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddFourValue">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/AddFourValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubtractTwoValue">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/SubtractTwoValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailsFault">
        <soap:fault use="literal" name="CustomExceptionDetailsFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DivideByZeroFaultFault">
        <soap:fault use="literal" name="DivideByZeroFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubtractFourValue">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/SubtractFourValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivisionTwoValue">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/DivisionTwoValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailsFault">
        <soap:fault use="literal" name="CustomExceptionDetailsFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DivideByZeroFaultFault">
        <soap:fault use="literal" name="DivideByZeroFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DivisionFourValue">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/DivisionFourValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailsFault">
        <soap:fault use="literal" name="CustomExceptionDetailsFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DivideByZeroFaultFault">
        <soap:fault use="literal" name="DivideByZeroFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MultiplyTwoValue">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/MultiplyTwoValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailsFault">
        <soap:fault use="literal" name="CustomExceptionDetailsFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DivideByZeroFaultFault">
        <soap:fault use="literal" name="DivideByZeroFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MultiplyFourValue">
      <soap:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/MultiplyFourValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailsFault">
        <soap:fault use="literal" name="CustomExceptionDetailsFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DivideByZeroFaultFault">
        <soap:fault use="literal" name="DivideByZeroFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ComplexServices" type="i0:ComplexServices">
    <wsp:PolicyReference URI="#NetTcpBinding_ComplexServices_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddTwoValue">
      <soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/AddTwoValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailsFault">
        <soap12:fault use="literal" name="CustomExceptionDetailsFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DivideByZeroFaultFault">
        <soap12:fault use="literal" name="DivideByZeroFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddFourValue">
      <soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/AddFourValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubtractTwoValue">
      <soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/SubtractTwoValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailsFault">
        <soap12:fault use="literal" name="CustomExceptionDetailsFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DivideByZeroFaultFault">
        <soap12:fault use="literal" name="DivideByZeroFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubtractFourValue">
      <soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/SubtractFourValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivisionTwoValue">
      <soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/DivisionTwoValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailsFault">
        <soap12:fault use="literal" name="CustomExceptionDetailsFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DivideByZeroFaultFault">
        <soap12:fault use="literal" name="DivideByZeroFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DivisionFourValue">
      <soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/DivisionFourValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailsFault">
        <soap12:fault use="literal" name="CustomExceptionDetailsFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DivideByZeroFaultFault">
        <soap12:fault use="literal" name="DivideByZeroFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MultiplyTwoValue">
      <soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/MultiplyTwoValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailsFault">
        <soap12:fault use="literal" name="CustomExceptionDetailsFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DivideByZeroFaultFault">
        <soap12:fault use="literal" name="DivideByZeroFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MultiplyFourValue">
      <soap12:operation soapAction="http://Microsoft.ServiceModel.Samples/ComplexServices/MultiplyFourValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomExceptionDetailsFault">
        <soap12:fault use="literal" name="CustomExceptionDetailsFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="DivideByZeroFaultFault">
        <soap12:fault use="literal" name="DivideByZeroFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComplexCalculatorService">
    <wsdl:port name="BasicHttpBinding_ComplexServices" binding="tns:BasicHttpBinding_ComplexServices">
      <soap:address location="http://localhost:65434/ComplexCalculatorService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ComplexServices" binding="tns:NetTcpBinding_ComplexServices">
      <soap12:address location="net.tcp://localhost:65435/ComplexCalculatorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:65435/ComplexCalculatorService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-Q7I1ALLV\macie</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>