NewConsoleComplex/NewConsoleComplex/Connected Services/ComplexCalculatorService/ComplexServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.ServiceModel.Samples" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComplexType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImaginryValueOperation" type="xs:double" />
      <xs:element minOccurs="0" name="RealValueOperation" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplexType" nillable="true" type="tns:ComplexType" />
  <xs:complexType name="CustomExceptionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomExceptionDetails" nillable="true" type="tns:CustomExceptionDetails" />
  <xs:complexType name="DivideByZeroFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivideByZeroFault" nillable="true" type="tns:DivideByZeroFault" />
</xs:schema>